Node-RED
[{"id":"8d6bc6dd.772368","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81561610.02d658","type":"exec","z":"8d6bc6dd.772368","command":"python ad1115.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":150,"y":60,"wires":[["31d5927.5ce1f6e"],[],[]]},{"id":"a8d434b9.810328","type":"inject","z":"8d6bc6dd.772368","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["81561610.02d658"]]},{"id":"38e6da23.90f216","type":"ui_gauge","z":"8d6bc6dd.772368","name":"","group":"60a4cc3a.f80374","order":1,"width":"6","height":"6","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":450,"y":80,"wires":[]},{"id":"31d5927.5ce1f6e","type":"function","z":"8d6bc6dd.772368","name":"convert","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar ad1 = (Number(partsOfStr[0])/150);\nif(ad1 > 100){\n    ad1 = 100;\n    }\nif(ad1 < 0){\n   ad1 = 0;\n   }\n\n\nmsg1 = {payload: ad1.toFixed(1)};\n\nvar ad2 = (Number(partsOfStr[1])/10);\nif(ad2 > 100){\n    ad2 = 0;\n    }\nif (ad2 < 0){\n    ad2 = 100;\n    }\n    \nmsg2 = {payload: ad2.toFixed(1)};\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":320,"y":160,"wires":[["38e6da23.90f216","c5f5870.3d2dc78"],["26cae1b.5ae531e","888acaf4.bc3508"]]},{"id":"c5f5870.3d2dc78","type":"debug","z":"8d6bc6dd.772368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":40,"wires":[]},{"id":"26cae1b.5ae531e","type":"ui_gauge","z":"8d6bc6dd.772368","name":"","group":"7b2d5259.b56edc","order":1,"width":"6","height":"6","gtype":"donut","title":"Soil Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"b2926fe1.efccf","type":"rpi-dht22","z":"8d6bc6dd.772368","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"4","x":270,"y":260,"wires":[["86339fc.806396","c0527aad.2b34d8","29484b66.8b1a34"]]},{"id":"86339fc.806396","type":"debug","z":"8d6bc6dd.772368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":220,"wires":[]},{"id":"b286fe54.03693","type":"inject","z":"8d6bc6dd.772368","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["b2926fe1.efccf"]]},{"id":"b506ccc2.f0a12","type":"debug","z":"8d6bc6dd.772368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":120,"wires":[]},{"id":"5b9a0d18.861114","type":"debug","z":"8d6bc6dd.772368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"c0527aad.2b34d8","type":"function","z":"8d6bc6dd.772368","name":"Temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["b506ccc2.f0a12","3e4a821.4358f7e","4556666a.7c8a68"]]},{"id":"29484b66.8b1a34","type":"function","z":"8d6bc6dd.772368","name":"Humidity","func":"msg.payload = msg.humidity \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["5b9a0d18.861114","9277519e.642b9","751f7ff2.b7d45"]]},{"id":"3e4a821.4358f7e","type":"ui_gauge","z":"8d6bc6dd.772368","name":"Temperature","group":"4da7202d.81e31","order":1,"width":"6","height":"6","gtype":"donut","title":"Room Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":160,"wires":[]},{"id":"9277519e.642b9","type":"ui_gauge","z":"8d6bc6dd.772368","name":"Humidity","group":"22d278cd.64f948","order":1,"width":"6","height":"6","gtype":"donut","title":"Humidity of The air ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":280,"wires":[]},{"id":"888acaf4.bc3508","type":"ui_chart","z":"8d6bc6dd.772368","name":"","group":"7b2d5259.b56edc","order":2,"width":"5","height":"5","label":"1 hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":140,"wires":[[]]},{"id":"751f7ff2.b7d45","type":"ui_chart","z":"8d6bc6dd.772368","name":"","group":"22d278cd.64f948","order":2,"width":"5","height":"5","label":"1 hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":320,"wires":[[]]},{"id":"4556666a.7c8a68","type":"ui_chart","z":"8d6bc6dd.772368","name":"","group":"4da7202d.81e31","order":2,"width":"5","height":"5","label":"1 hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":200,"wires":[[]]},{"id":"14071694.c1a5b9","type":"ui_button","z":"8d6bc6dd.772368","name":"","group":"2205a7a3.fff9e8","order":1,"width":"4","height":"1","passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"fa-play-circle","payload":"1","payloadType":"num","topic":"","x":80,"y":340,"wires":[["9a710f53.1a2e9"]]},{"id":"9a710f53.1a2e9","type":"rpi-gpio out","z":"8d6bc6dd.772368","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":320,"y":340,"wires":[]},{"id":"7ca7fe38.4dbe5","type":"ui_button","z":"8d6bc6dd.772368","name":"","group":"2205a7a3.fff9e8","order":2,"width":"4","height":"1","passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"fa-stop-circle","payload":"0","payloadType":"num","topic":"","x":70,"y":400,"wires":[["9a710f53.1a2e9","f92004ae.b358a8"]]},{"id":"f92004ae.b358a8","type":"rpi-gpio out","z":"8d6bc6dd.772368","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":320,"y":400,"wires":[]},{"id":"bc7e8e9.7ab4b7","type":"inject","z":"8d6bc6dd.772368","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":420,"wires":[["dfee7142.a25e4"]]},{"id":"dfee7142.a25e4","type":"OS","z":"8d6bc6dd.772368","name":"","x":550,"y":360,"wires":[["1898ef2a.b1da71","79f3dc66.77fa94","eb638f14.25b65","e3d390e2.a3423"]]},{"id":"1898ef2a.b1da71","type":"function","z":"8d6bc6dd.772368","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":360,"wires":[["a8c33846.9eee18"]]},{"id":"79f3dc66.77fa94","type":"function","z":"8d6bc6dd.772368","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":760,"y":400,"wires":[["852cc48e.da6c58"]]},{"id":"eb638f14.25b65","type":"function","z":"8d6bc6dd.772368","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":760,"y":440,"wires":[["6bf12908.cfa4f8"]]},{"id":"e3d390e2.a3423","type":"function","z":"8d6bc6dd.772368","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["8cea04c4.e25258"]]},{"id":"a8c33846.9eee18","type":"ui_text","z":"8d6bc6dd.772368","group":"a7e86eed.a1f15","order":0,"width":"0","height":"0","name":"","label":"hostname","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":300,"wires":[]},{"id":"852cc48e.da6c58","type":"ui_text","z":"8d6bc6dd.772368","group":"a7e86eed.a1f15","order":1,"width":0,"height":0,"name":"","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"6bf12908.cfa4f8","type":"ui_text","z":"8d6bc6dd.772368","group":"a7e86eed.a1f15","order":2,"width":0,"height":0,"name":"","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":380,"wires":[]},{"id":"8cea04c4.e25258","type":"ui_text","z":"8d6bc6dd.772368","group":"a7e86eed.a1f15","order":3,"width":0,"height":0,"name":"","label":"arch","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":420,"wires":[]},{"id":"39fa8047.92e8","type":"openweathermap in","z":"8d6bc6dd.772368","name":"","wtype":"current","lon":"","lat":"","city":"Istanbul","country":"Turkey","language":"en","x":120,"y":460,"wires":[["9ba0a11c.a56e","8969f07d.dde2e","61400ee7.b16d7","96f9d660.7ab148"]]},{"id":"9ba0a11c.a56e","type":"function","z":"8d6bc6dd.772368","name":"WeatherState","func":"msg.payload = msg.payload.weather\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["71d0b416.b8b39c"]]},{"id":"8969f07d.dde2e","type":"function","z":"8d6bc6dd.772368","name":"Location","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["3d8e43d2.0e9e4c"]]},{"id":"61400ee7.b16d7","type":"function","z":"8d6bc6dd.772368","name":"detail","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["5da63424.94254c"]]},{"id":"96f9d660.7ab148","type":"function","z":"8d6bc6dd.772368","name":"description","func":"msg.payload = msg.payload.description\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["4219c206.accb4c"]]},{"id":"71d0b416.b8b39c","type":"ui_text","z":"8d6bc6dd.772368","group":"ccde7181.238b8","order":0,"width":"4","height":"2","name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":480,"wires":[]},{"id":"3d8e43d2.0e9e4c","type":"ui_text","z":"8d6bc6dd.772368","group":"ccde7181.238b8","order":1,"width":"4","height":"2","name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":520,"wires":[]},{"id":"5da63424.94254c","type":"ui_text","z":"8d6bc6dd.772368","group":"ccde7181.238b8","order":2,"width":"0","height":"0","name":"","label":"Detail","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":560,"wires":[]},{"id":"4219c206.accb4c","type":"ui_text","z":"8d6bc6dd.772368","group":"ccde7181.238b8","order":3,"width":"4","height":"3","name":"","label":"Description","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":600,"wires":[]},{"id":"60a4cc3a.f80374","type":"ui_group","z":"","name":"Container Level","tab":"7516b306.7964fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b2d5259.b56edc","type":"ui_group","z":"","name":"Moisture ","tab":"7516b306.7964fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"4da7202d.81e31","type":"ui_group","z":"","name":"Temperature","tab":"7516b306.7964fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"22d278cd.64f948","type":"ui_group","z":"","name":"Humidity","tab":"7516b306.7964fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"2205a7a3.fff9e8","type":"ui_group","z":"","name":"Water The Plant","tab":"7516b306.7964fc","order":5,"disp":true,"width":"4","collapse":false},{"id":"a7e86eed.a1f15","type":"ui_group","z":"","name":"Sysinfo","tab":"7516b306.7964fc","order":6,"disp":true,"width":"6","collapse":false},{"id":"ccde7181.238b8","type":"ui_group","z":"","name":"Weather","tab":"7516b306.7964fc","order":7,"disp":true,"width":"4","collapse":false},{"id":"7516b306.7964fc","type":"ui_tab","z":"","name":"Home ","icon":"dashboard","disabled":false,"hidden":false}]
